{% extends "blog/base.html" %}
{% block content %}
    <div class="row mb-4 align-items-center"style="padding-top:20px;">
        <div class="col">
            <h1 class="display-4">Welcome to Bloggy Blog</h1>
        </div>
        <div class='col-20' ><a href="{% url 'post-create'%}" class='btn btn-primary' >Create new post <i class="fa fa-plus" aria-hidden="true"></i></a></div>
    </div>
    <div class='row'>
        {% for post in posts %}
        <div class='col col-md-6 mb-4'>
            <div class="content-section fixed-box" style="height: 200px;">
                <h2><a href="{% url 'post-detail' post.pk %}">{{post.title}}</a></h2>
                 <p>{{post.content}}</p>
                 <small>{{post.created_at}}</small>
            <div class="btn-group-toggle">
                    
                    <a href="{% url 'post-update' post.pk %}" class="btn btn-success">Edit</a>
                    <a href="{% url 'post-delete' post.pk %}"  class="btn btn-danger" >Delete <i class="fa fa-trash" aria-hidden="true"></i></a>
            </div>
            </div>
            
            <div>
               
                
            </div>
         
           
        </div>
            
        {% endfor %} 
    </div>
    
{% endblock %}
